body {
    background: rgb(228, 228, 228)
}

.top {

  text-align:center;
  margin-top: 5%;
  margin-left: 35%;
  width: 400px;
  height: 310px;
  background-color: red;
  border-radius: 20px;
  font-size: 40px;
  color: white
}

.mid {
    
  text-align: center;
  color: black;
  background-color: white;
  height: 160px;
  vertical-align: middle;
  line-height: 140px;
  font-size: 90px;
  margin-top: -20px
}